@using DataAccess
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<section class="content">
	<div class="row">
		<div class="col-md-12">

			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Danh sách đợt thi</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table id="example_LichThi" class="table table-bordered">
						<thead>
							<tr class="">
								<th>STT</th>
								<th>Lịch thi</th>
								<th>Bộ đề</th>
								<th>Đợt thi</th>
								<th>Học kì</th>
								<th>Ngày thi</th>
								<th>Giờ thi</th>
								<th>Phòng thi</th>
								<th>Kích hoạt</th>
								<th class="text-center">
									<button class="btn btn-primary btn-xs btn-flat" onclick="">Thêm</button>
								</th>
							</tr>
						</thead>
						<tbody id="data_LichThi"></tbody>
					</table>
					<div class="box-footer"><a href="/admin/dashboard/" class="btn btn-danger btn-xs btn-flat">Trở Về</a></div>

				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>

@section Myscripts{
	<script src="~/Scripts/Back-end/Thi_ChamThi/ConTroller_LichThi.js"></script>
	<script>
		var LichThi = new ConTroller_LichThi();

        $('#example2').DataTable({
            'paging': false,
            'lengthChange': false,
            'searching': true,
            'ordering': true,
            'info': false,

            "scrollY": 300,

        })
        $(".LichThi").addClass("active");

	</script>

}
