
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCauHoiOnTap.cshtml";
    var monhoc = ViewBag.MonHoc;
}

<div class="grid-content">
    <script type="text/javascript" src="assets/js/quiz2/scripts.js"></script>
    <div id="col-2" class="col-lg-12 col-md-9 including fadeIn animated col-list-quiz">
        <!--Đề thi online ở trang chủ-->


        <div class="including" id="university" style="padding:2%;">

            <div class="row">
                <div class="heading heading-white">
                    <h1><i class="glyphicon glyphicon-tower"></i> Môn Học</h1>
                    <hr>
                </div>
                @{
                    foreach (var item in monhoc)
                    {
                        <div class="col col-md-4 col-xs-6">
                            <hr>
                            <h4 class="color-red ">@item.TENMONHOC</h4>
                            <div class="glass-link">

                                @using (Html.BeginForm("ChonBoDe", "ThiThu_", FormMethod.Post))
                                {
                                    <input type="text" name="Idmonhoc" value="@item.IDMONHOC" hidden>
                                    <button class="btn btn-default pull-right" style="background: #f8a31c">
                                        Truy cập
                                    </button>
                                }
                                <br />

                            </div>
                            <hr />
                        </div>
                    }
                }
            </div>

        </div>

    </div>

    <script type="text/javascript" src="assets/js/newstyle/default-main.js"></script>
    <script type="text/javascript">
		$(document).ready(function () {
			$("select[name=year]").val('2013');
			$("#nav-university").addClass('active');
		});
    </script>
</div>
