<div class="modal fade" id="Modal_Create">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    Thêm Độ Khó
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">

                    <form role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputSoLuongDoKho">Số lượng độ khó</label>
                                <select style="width:100%" id="MucDoKho" class="form-control Select2"></select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDoKho">Độ Khó</label>
                                <input type="text" class="form-control" id="TenDoKho" placeholder="Tên độ khó...">
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn pull-left btn-flat btn-danger" data-dismiss="modal">Đóng</button>
                <button type="button" onclick="DoKho.Create_DoKho()" class="btn btn-primary btn-flat">Thêm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->