<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright © DLU <a target="_blank" href="http://online.dlu.edu.vn/">online.dlu.edu.vn</a> - Ngân hàng câu hỏi trắc nghiệm đại học Đà Lạt.</strong>
   
</footer>
