@using DataAccess
@{ 
    ThongTinTaiKhoanMedthods TT = new ThongTinTaiKhoanMedthods();
}
<header class="main-header">
    <!-- Logo -->
    <a href="/"
       class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>DLU</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>DLU</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <!-- Notifications: style can be found in dropdown.less -->
              
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/Back-end/dist/img/avatar04.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">
                                @if (Session["ID_TaiKhoan"] != null) { TT.Get_HoTen_TK(Int32.Parse(Session["ID_TaiKhoan"].ToString())); }
                               

                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/Content/Back-end/dist/img/avatar04.png" class="img-circle" alt="User Image">

                            <p>
                                @if (Session["ID_TaiKhoan"] != null){ TT.Get_HoTen_TK(Int32.Parse(Session["ID_TaiKhoan"].ToString())); }
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/admin/ho-so-@Session["ID_TaiKhoan"]" class="btn btn-warning btn-flat">Hồ sơ của bạn</a>
                            </div>
                            <div class="pull-right">
                                <a href="/Admin/DangNhap/DangXuat" class="btn btn-danger btn-flat">Đăng Xuất</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-cog fa-spin"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
