
		body
		{
			font-family: 'Montserrat', sans-serif;
			padding: 0px;
			margin: 0px;
			background-image: url('theme.jpg');
			background-size: cover;
		}

		ul li a:hover {
			background-color: #363f5d;
			margin-bottom: 20px;
			color: #fff;
		}

		.menu ul li a
		{
			color: #fff;
			transition: margin-bottom .35s ease-out;
			display: block;
			width: 180px;
			text-align: center;
			line-height: 55px;
			text-decoration: none;
			font-weight: bold;
			border-top-right-radius: 14px;
			border-bottom-right-radius: 14px;
			border: 1px solid #000;

		}

		.atm{
			width: 440px;
			background: transparent;
			margin-left: 300px;
			border-radius:5px; 
			box-shadow: 12px 14px 10px 10px;
			position: absolute;
			padding: 5px;

		}
		

		.inputMoney tr td input
		{
			width: 65px;
			background: #313237;
			border-top: 4px ;
			border-right : none;
			border-left: none;
			border-bottom: 4px solid #f8d180;
			border-radius: 5px;
			padding: 5px;
			color: #fff;
		}
		.inputMoney tr td input:hover
		{
			border-bottom: 4px solid #313237;
	
		}
		.inputMoney .num{ 
			width: 204px;
			margin: 5px;
			border: none;
			font-size: 14px;
			border-radius: 5px;
			background: #fff;
			color: #000;
		}
		.label
		{
			background: #313237;
			border-radius: 5px;
			font-style: italic;
			padding: 2px;
			color: #fff;
			font-size: 8px;
		}
		.inputMoney {
			float: left;
		}
		.display
		{
			background: #313237;
			border-radius: 5px;
			padding: 5px;
			color: #fff;
			float: right;
			font-size: 14px;
		}
