
<div class="modal fade" id="Modal_Delete">
    <div class="modal-dialog modal-danger">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Thông báo từ DLU</h4>
            </div>
            <div class="modal-body">
                <span style="color:black"> Bạn cần xóa TẤT CẢ CÂU HỎI thuộc chương học này trước khi tiến hành xóa chương học!</span>
                <h4>Xóa chương học sẽ ảnh hưởng đến dữ liệu của hệ thống</h4>
                <span>Bạn có chắc chắn muốn xóa?</span>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Chuong.Delete_Chuong()" class="btn btn-warning btn-flat pull-left">Có</button>
                <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Không</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->