#search-form {margin-top: 10px }
#search-form input{display: inline-block;width: 180px}
#search-form select{margin-top: 5px;margin-right: 5px}


#ul-manager{padding-left: 20px}

#multiple{margin-top: 15px}

#quizs{margin-top: 10px}
#quizs .quiz{margin-bottom: 10px}
.quiz{border-top:3px solid #1abc9c;margin-top: 10px;}
.quiz h1{font-size: 16px;margin-top: 12px;font-weight: 400}
.quiz .description{color: #757575;margin-top: 5px}
.quiz .btn{font-size: 16px;padding: 3px 14px;background: #1abc9c}
.quiz .btn-thi-online{margin-top: -30px}
.quiz h1{width:96%;line-height: 1.4em;margin-bottom: 0px;}
.quiz h1 a{color: #428bca}
.quiz h1 a:hover{text-decoration: none;color: #428bca;}
.quiz .bookmark{margin-top:15px;}
.quiz-information ul li{margin-top: 5px;line-height: 1.5em}

.avatar{width: 35px;height: 35px;border-radius: 30px}

.tabs{padding-left:0px;list-style: none;margin-top:-10px}
.tab{display: none}
.tabs li{float:left;padding-right:20px;margin-top:15px;}
.tabs li a{outline:none;padding:5px 15px;border-radius: 5px;background: #f1f1f1;color:#1d1d1d;text-transform: uppercase;font-size: 14px}
.tabs li a:hover,#tabs li a.active{background: #3498db;color:#fff;text-decoration: none}


.time{margin-top: 10px}
.time .time-text{font-size: 22px;}

.col-quiz-content-mobile{height: inherit !important;overflow: inherit!important;}

#div-check-quiz{height: 80%;outline: none}
.check-quiz{padding-left: 0px;list-style: none;color:#2980b9;}
#div-check-quiz .jspPane{padding-top:2px 0px !important;}
.check-quiz li a{outline:none;font-weight: 400;border:1px solid #2980b9;background:#fff;padding:2px 8px;border-radius: 30px;}
.check-quiz li a.active,.check-quiz li a:hover{background: #1abc9c;border: 1px solid #1abc9c;color: #fff}
.check-quiz li a.answer{margin-left: 8px !important;padding:2px 6px;border:0x;display: none;}
.check-quized li a{margin-left: 15px !important;}
.check-quized li a.answer{display: inline-block !important;}
#check-quiz li{width: 100%;float:left;padding:5px 0 25px;color:#2980b9;}
#check-quiz li a{margin-left:20px}
#quiz-content{margin-top: 20px;font-size: 16px;line-height: 1.5em}
#results{text-transform: uppercase;color:#2980b9;display: none}
#results td{text-align: center;padding:12px 0;}
.check-item{border:1px solid #1abc9c;background:#1abc9c;padding:5px 11px;border-radius: 30px;color:#fff;}
.check-item-error{border:1px solid #e33a3a !important;background:#e33a3a !important;color: #fff !important}
.check-item-blue{border:1px solid #2980b9 !important;background: #2980b9 !important;color: #fff !important}
#div-check-top-quiz{background: #f1f1f1;padding:0.5px 10px 4px;display: none;}
.div-check-top-quiz-fixed{position: fixed;width: 48%;top:0px;}
#check-top-quiz{width: 100%;overflow: auto;white-space: nowrap;background: #fff;padding:5px 10px;margin-top:5px;display: none}
#check-top-quiz li{margin-right: 20px;display: inline-block;}
#check-top-quiz span.number{margin-left:8px;}
#check-top-quiz a{display: block;margin-top: 10px;padding:3px 8px !important;text-align: center;}
#check-top-quiz li a.answer{padding:10px;margin-left: 0px !important}
#check-top-quiz li a.answer{display: none}
#check-top-quiz.check-top-quized li a{padding: 1px 5px;}
#check-top-quiz.check-top-quized li a.answer{display: inline-block !important;}
#col-quiz-content.pdf{width: 78% !important;}
#col-quiz-content h1.title{text-transform: uppercase;font-size: 16px;font-weight: 600}
#col-quiz-content .form-row{margin-top: 10px}
#col-quiz-content .form-row h1{font-weight: 600;}
#col-quiz-content .form-row input.form-control{width: 100%;margin-top: 5px}
#col-quiz-content .form-row textarea.form-control{margin-top: 20px;width: 100%;height: 250px}
#custom-form input.form-control{width: 100px}
#custom-form .widget{margin-top: 10px}
#col-create-check-quiz{width: 23.5% !important}
#col-create-check-quiz #div-check-quiz{height: 70%}
#col-create-type{width: 23.5% !important}
#col-create-type label{margin-top: 20px;font-weight: 400} 
#create-group-btn{margin-top: 20px;float:right;}
.form-row label{display: block;}
#col-check-quiz{z-index: 10 !important}
#frm-pdf-upload input{border:0px;}
#frm-pdf-upload .description{margin-top: 10px;margin-left: 10px}

.pagination>li:last-child>a, .pagination>li:last-child>span{border-radius: 0px}
.pagination>li:first-child>a, .pagination>li:first-child>span{border-radius: 0px}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background: #059478;border: 1px solid #059478
}
.pagination>li>a, .pagination>li>span{}
.nap-bai,.result{display: none}
.result h3{font-weight: 600;font-size: 18px}

#university .row{
	padding-bottom: 20px
}
#university .row .glass-link{padding-left: 15px}
#university .row .glass-link a{display: block;margin-top: 10px}
#frm-university {padding-top: 10px}
#frm-university .btn-year{margin-top: -10px}
@media(max-width: 1251px){
	#check-quiz li a{margin-left: 15px}
}
@media(max-width: 1219px){
	#check-quiz.check-quized li a{margin-left: 5px !important}
}
@media(max-width: 1090px){
	#check-quiz.check-quized li a{margin-left: 2px !important}
	#check-quiz li a{margin-left: 5px !important}
}
@media(max-width: 991px){
	#col-quiz-content.pdf{width: 70% !important;float: left}
	#search-form input{width: 120px}
	#check-quiz.check-quized li a{margin-left: 10px !important}
	#check-quiz li a{margin-left: 15px !important}
}
@media(max-width: 916px){
	#check-quiz.check-quized li a{margin-left:6px !important}
}
@media(max-width: 799px){
	.col-list-quiz{width: 100% !important;}
	#menu-head .navbar-collapse{color: #fff;position: relative;z-index: 100;border: 0px}
	#menu-head .navbar-collapse .navbar-right{background: #059478;margin-top: -5px}
}
@media(max-width: 739px){
	#col-check-quiz{display: none}
	#col-quiz-content,#col-quiz-content.pdf{width: 100% !important}
	#div-check-top-quiz{display: block;}
	.div-check-top-quiz-fixed{width: 100%;left:0;right:0;}

}
@media(max-width: 726px){
	
}
