	/* tag selector */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #000;
} 
h1, h2, h3
{
	max-width: 500px;
	background-color: #84b2e4;

}

h1
{
	font-size: 2em;
	text-transform: capitalize;
}
h2
{
	text-align: center;
}
h3
{
	margin-top: 30px;
}
p
{
	background-color: lightblue;
	padding: 10px 20px 30px;
	text-indent: 20px;
	text-align: justify;
	width: 60%;
}
ul li
{	

	list-style-type: none;
	line-height: 200%;
	margin: 10px;
}
ol li{
	width: 50%;
	line-height: 180%;
}
	/*ID*/
#miamiBuilding {
	float: right;
	margin: 0px;
	width: 30%;
	opacity: 0.7;	

}
#navigation
{

	position: absolute;
	z-index: 10;		
	width: 210px;
	height: 700px;
	margin: 0;
	border-right: 1px solid #000000;
	font-weight: normal;
}
#centerDoc {
	position: absolute;
	z-index: 15;
	padding: 0 0 20px 20px;
	margin-top: 50px;
	margin-left: 235px;
	width: 80%;
	max-width: 1200px;
	min-width: 500px;

}

a:link, a:visited {
	 background-color: #84b2e4; 
	 text-decoration: none;
	 padding: 5px; 
	 border-radius: 20px; 
	 color: #000; 
	 display: block;
	 width: 130px;
	 transition: margin-bottom .35s ease-out;

	}     

a:hover {
	color: #fff; 
	background-color: #000;
	margin-bottom: 20px;
} 

a:active { color: green; font-weight: bold;}

#centerDoc a:link {color: green; text-decoration: underline;}   
#centerDoc a:hover { color: blue; margin-bottom: 0px;} 
#centerDoc a {background-color: transparent;}
