
@{
    ViewBag.Title = "UpdateFileExcel";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-success box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Inport from Excel Danh Sách Tài Khoản</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form id="form-data">
                        <div class="form-group col-md-10">
                            <input type="file" class="form-control" id="file" name="file" placeholder="Chọn file excel" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        </div>
                        <div class="form-group col-md-2">
                            <span class="btn btn-sm btn-danger btn-flat pull-right clearfix" onclick="uploadExcel()" style="margin-bottom:10px"><span class="fa fa-file-excel-o"></span> Inport from Excel</span>
                        </div>
                    </form>
                    <table id="example2" class="table table-bordered clearfix">
                        <thead>
                            <tr class="success">
                                <th class="text-center" style="width:20%">STT</th>
                                <th class="text-center">Tên lỗi</th>
                            </tr>
                        </thead>
                        <tbody id="tenloi"></tbody>
                    </table>
                    <a href="/admin/dashboard/" class="btn btn-danger btn-sm btn-flat" style="margin-top:10px"><span class="fa fa-reply"></span> Trở Về</a>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<script>
    function uploadExcel() {
        var file = ($('#file'))[0].files[0];
        if (file) {
            var formData = new FormData();
            var totalFiles = document.getElementById("file").files.length;

            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("file").files[i];
                formData.append("FileUpload", file);
            }
            $.ajax({
                url: '/admin/TaiKhoanThi/UpdateExcel',
                data: formData,
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.Code == 0) {
                        var html = '';
                        $.each(data.data, function (i, item) {
                            html += '<tr><td class="text-center" > ' + item.Key + '</td><td>' + item.Value + '</td></tr>';
                        });
                        $('#tenloi').html(html);
                    }
                    else if (data.Code == 1) {
                        alert(data.messenger);
                        window.location.href = data.url;
                    }
                    else {
                        alert(data.messenger);
                    }
                }
            });
        }
        else {
            alert('Không tồn tại file! Vui lòng thêm file mới.')
        }
    }
</script>
