@{
	Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Mạng xã hội học tập</title>
	<link rel="shortcut icon" href="http://www.studyvn.com/assets/img/study-ico.ico" type="image/x-icon" />
	<link href="~/Content/Front-end/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Front-end/assets/css/css3-animation.css" rel="stylesheet" />
	<link href="~/Content/Front-end/assets/css/home2/style.css" rel="stylesheet" />
	<link href="~/Content/Front-end/assets/css/quiz/loading.css" rel="stylesheet" />
	<link href="~/Content/Front-end/assets/css/all.css" rel="stylesheet" />
	<link href="~/Content/Front-end/assets/css/animate.css" rel="stylesheet" />

	<script src="~/Content/Front-end/assets/js/jquery-1.8.0.min.js"></script>
	<script src="~/Content/Front-end/assets/js/default.js"></script>
	<script src="~/Content/Front-end/assets/js/jquery.sticky.js"></script>
	<script type="text/javascript" src="~/Content/Front-end/assets/js/my-plugin/jquery.menuslide.js"></script>
	@*<script type="text/javascript" src="http://www.studyvn.com/assets/js/my-plugin/jquery.menuslide.js"></script>*@

</head>
<body>
	<header class="band">
		<div class="container">
			<div id="nav" class="nav including">
				<div class="nav-left"><a href="#" title="Mạng xã hội học tập Việt Nam" id="logo" class="fadeIn">Mạng xã hội học tập Việt Nam</a></div>
				<div class="nav-right fadeIn" style="position:relative">
					<div style="z-index:2"><img src="http://www.studyvn.com/assets/img/home2/click.png" class="click" /></div><a href="#" title="Menu" id="menu">Menu</a>
				</div>
			</div>
			<div class="header-devices d1"><img src="http://www.studyvn.com/assets/img/home2/tools/coffee.png" class="mockup coffee fadeIn" /><img src="http://www.studyvn.com/assets/img/home2/tools/pencil.png" class="mockup pencil fadeIn" /></div>
			<div class="text fadeIn">
				Chào mừng bạn đến với <span class="bold">StudyVn</span>
				<br /><span class="bold">Mạng xã hội cung cấp</span> giải pháp dành cho <span class="bold">nghiên cứu</span>, <span class="bold">học tập</span> của học sinh
			</div>
			<div class="header-devices d2">
				<center><img src="http://www.studyvn.com/assets/img/home2/tools/macbook.png" class="macbook fadeIn" /></center>
			</div>
		</div>
	</header>
	<div class="band">
		<div class="container row1">
			<div class="columns col-md-6"><img src="http://www.studyvn.com/assets/img/home2/tools/devices.png" class="wow fadeInDown img-reponsive" alt="StudyVn - tương thích với các thiết bị di động" /></div>
			<div class="columns text col-md-6 text-about wow fadeIn">
				<h1>Giới thiệu về <span class="bold">StudyVn</span></h1>
				<p>
					StudyVn một mô hình <span class="bold">mạng xã hội học tập</span> tại Việt Nam cung cấp các <span class="bold">công cụ phục vụ</span> cho công việc <span class="bold">học tập và nghiên cứu</span> của học sinh. Điều đặc biệt là hệ thống được thiết kế với công nghệ reponsive tương thích với các <span class="bold">thiết bị di động</span> chạy hệ điều hành : Android, IOS , Windowphone ,....
					<br />Ở bất cứ nơi đâu , chỉ cần bạn có thiết bị di động kết nối internet bạn có thể truy cập vào <span class="bold">nguồn tài nguyên</span> của hệ thống
				</p>
				<div class="pull-right group-button" style="margin-top:20px"><a href="dang-ky" class="button quiz"><i class="glyphicon glyphicon-pencil"></i> Đăng ký</a>&nbsp;&nbsp;&nbsp;<a href="/dang-nhap" class="button venglish"><i class="glyphicon glyphicon-user"></i> Đăng nhập</a></div>
			</div>
		</div>
	</div>
	<div class="band bg">
		<div class="bg chemistry"></div>
		<div class="circle chemistry" style="background:#e33a3a"><i class="icon-logo icon-chemistry"></i></div>
		<div class="container">
			<div class="columns text col-md-6 text-about wow fadeInDown">
				<h1>Từ điển <span class="bold">hóa học</span></h1>
				<p>Bạn đang tìm hiểu một <span class="bold">bài toán hóa học</span> , nhưng bạn lại không biết phương trình của bài toán ấy, hay bạn đang viết một phương trình điều chế, nhưng bạn chưa học tới kiến thức ấy. Đừng lo từ điển học sẽ giúp cho bạn <span class="bold">học tốt</span> môn hóa hơn</p>
			</div>
			<div class="columns text col-md-6 text-about wow fadeInDown">
				<h1>Chức năng</h1>
				<ul>
					<li>Tìm kiếm phương trình hóa học </li>
					<li>Cân bằng phương trình hóa học</li>
					<li>Giải chuỗi phương trình</li>
					<li>Tìm kiếm thông tin chất hóa học</li>
				</ul><a href="" onclick="confirm('Chức năng đang cập nhập')" class="button chemistry"><i class="glyphicon glyphicon-play"></i> Truy cập</a>
			</div>
		</div>
	</div>
	<!-- End band-->
	<div class="band bg">
		<div class="bg quiz"></div>
		<div class="circle quiz" style="background:#059478"><i class="icon-logo icon-quiz"></i></div>
		<div class="container">
			<div class="columns text col-md-6 text-about wow fadeInDown">
				<h1>Trắc nghiệm <span class="bold">online</span></h1>
				<p>Bạn đang cần tìm 1 đề thi <span class="bold">để thử sức</span>, bạn đang cần <span class="bold">lưu trữ</span> tài liệu đề thi trắc nghiệm, bạn có nhu cầu <span class="bold">chia sẻ</span> đề thi , StudyVn sẽ giúp bạn giải quyết vấn đề này. Trắc nghiệm theo <span class="bold">thời gian thực</span>, hình thức thi trắc nghiệm giống với <span class="bold">thực tế</span></p>
			</div>
			<div class="columns text col-md-6 text-about wow fadeInDown">
				<h1>Chức năng</h1>
				<ul>
					http://www.studyvn.com/user/login
					<li>Làm đề thi trắc nghiệm trực tuyến</li>
					<li><span class="bold">Lưu lịch sử</span> làm bài , dễ dàng xem lại bài làm</li>
					<li><span class="bold">Bảng xếp hạng</span> cho mỗi đề thi , để tăng tính <span class="bold">cạnh tranh</span></li>
					<li>Cho phép người dùng <span class="bold">đăng tải</span> , <span class="bold">lưu trữ</span> , <span class="bold">chia sẻ</span> nội dung trắc nghiệm</li>
					<li><span class="bold">Đánh dấu</span> đề thi chưa xem</li>
					<li>Cung cấp <span class="bold">đề thi đại học</span> các năm</li>
					<li>Tương thích với các <span class="bold">thiết bị di động</span></li>
				</ul><a href="" onclick="confirm('Chức năng đang cập nhập')" class="button quiz"><i class="glyphicon glyphicon-play"></i> Truy cập</a>
			</div>
		</div>
	</div>
	<!-- End band-->
	<div class="band bg">
		<div class="bg formula"></div>
		<div class="circle formula" style="background:#2980b9"><i class="icon-logo icon-formula"></i></div>
		<div class="container">
			<div class="columns text col-md-6 text-about wow fadeInDown">
				<h1>Tìm nhanh <span class="bold">công thức</span></h1>
				<p>Bạn có <span class="bold">quá nhiều</span> công thức , phương pháp bài tập <span class="bold">phải nhớ</span> , và tôi chắc chắn rằng mỗi lần <span class="bold">tìm lại</span> những kiến thức ấy , bạn phải <span class="bold">xáo tung</span> cuốn tập của mình ra , và <span class="bold">mất nhiều thời gian</span> để tìm kiếm.Đừng lo , hệ thống chúng tôi sẽ cung cấp cho bạn giải pháp <span class="bold">lưu trữ , quản lí , chia sẻ</span> các kiến thức nói trên . Việc quản lí , tìm kiếm trở nên thật dễ dàng hơn bao giờ</p>
			</div>
			<div class="columns text col-md-6 text-about wow fadeInDown">
				<h1>Chức năng</h1>
				<ul>
					<li><span class="bold">Đăng tải</span> , <span class="bold">lưu trữ</span> , <span class="bold">chia sẻ</span> các nội dung kiến thức</li>
					<li>Hệ thống tìm kiếm <span class="bold">thông minh</span> , phù hợp với người dùng</li>
					<li><span class="bold">Hỗ trợ</span> các chức năng soạn thảo toán học , vật lý , hóa học</li>
				</ul><a href="#" onclick="confirm('Chức năng đang cập nhập')" class="button formula"><i class="glyphicon glyphicon-play"></i> Truy cập</a>
			</div>
		</div>
	</div>
	<!-- End band-->
	<div class="band bg">
		<div class="bg venglish"></div>
		<div class="circle venglish" style="background:#e7543d"><i class="icon-logo icon-venglish"></i></div>
		<div class="container">
			<div class="columns text col-md-6 text-about wow fadeInDown">
				<h1><span class="bold">VEnglish</span> - Quản lí và học nhanh từ vựng</h1>
				<p>Bạn có khá nhiều <span class="bold">từ vựng</span> cần <span class="bold">phải nhớ</span> , và bạn không thể quản lí được các từ vựng mình đã học , VEnglish là hệ thống có thể giúp bạn quản lí các danh sách từ vựng , và <span class="bold">hỗ trợ</span> các bạn học từ vựng một cách <span class="bold">dễ dàng</span></p>
			</div>
			<div class="columns text col-md-6 text-about wow fadeInDown">
				<h1>Chức năng</h1>
				<ul>
					<li>Dễ dàng <span class="bold">lưu trữ</span> , <span class="bold">quản lí</span> các từ vựng</li>
					<li>Luyện nghe <span class="bold">phát âm chuẩn</span></li>
					<li><span class="bold">Học nhanh</span> từ vựng qua các bài kiểm tra của hệ thống</li>
					<li><span class="bold">Chia sẻ</span> dễ dàng</li>
				</ul><a href="" onclick="confirm('Chức năng đang cập nhập')" class="button venglish"><i class="glyphicon glyphicon-play"></i> Truy cập</a>
			</div>
		</div>
	</div>
	<!-- End band-->
	<hr />
	<div class="bamd">
		<div class="container">
			<div class="col-md-12 text text-center wow fadeInDown">
				<h1>Bạn thấy <span class="bold">thú vị</span> chứ , hãy cùng <span class="bold">trải nghiệm</span> nào ^_^</h1>
				<div class="group-button bottom" style="margin:40px auto 20px"><a href="#" class="button quiz"><i class="glyphicon glyphicon-pencil"></i> Đăng ký</a>&nbsp;&nbsp;&nbsp;<a href="/dang-nhap" class="button venglish"><i class="glyphicon glyphicon-user"></i> Đăng nhập</a></div>
			</div>
		</div>
	</div>
	<hr />
	<footer>
		<div class="container">
			<div class="col-md-4">
				<h1>Sử dụng</h1>
				<ul class="menu">
					<li onclick="confirm('Chức năng đang cập nhập')"><i class="glyphicon glyphicon-play"></i> <a href="#">Từ điển hóa học</a></li>
					<li onclick="confirm('Chức năng đang cập nhập')"><i class="glyphicon glyphicon-play"></i> <a href="#">Trắc nghiệm online</a></li>
					<li onclick="confirm('Chức năng đang cập nhập')"><i class="glyphicon glyphicon-play"></i> <a href="#">Formula - Tìm nhanh công thức</a></li>
					<li onclick="confirm('Chức năng đang cập nhập')"><i class="glyphicon glyphicon-play"></i> <a href="#">VEnglish - Quản lí và học nhanh từ vựng</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h1>Thành viên</h1>
				<ul class="menu">
					<li><i class="glyphicon glyphicon-play"></i> <a href="/dang-nhap">Đăng kí</a></li>
					<li onclick="confirm('Chức năng đang cập nhập')"><i class="glyphicon glyphicon-play"></i> <a href="/dang-nhap">Đăng nhập</a></li>
				</ul>
				<hr />
				<h1>Tác giả</h1>
				<div style="color:#fff">
					<p>Tên: Phan Thanh Tùng</p>
					<p>FB: <a href="" style="color:#fff;font-weight:700">Tùng Cu</a></p>
					<p>Email: tungptkh@gmail.com</p>
				</div>
			</div>
			<div class="col-md-4">
				<h1>Chúng tôi trên facebook</h1>
				<div class="fb-like-box" data-href="" width="330px" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
			</div>
		</div>
	</footer>
	<div class="band footer">
		<center>Copyright &copy; Văn Lành DLU</center>
	</div>
	<div class="scroll_top" data-0="opacity:0" data-100="opacity:1"><a href="#"><i class="glyphicon glyphicon-arrow-up"></i></a></div>
	<div class="fog"></div>
	<div id="menu-right">
		<ul class="menu">

			<li><i class="glyphicon glyphicon-play"></i> <a href="/thi-that/">Thi trực tuyến</a></li>
			<li><i class="glyphicon glyphicon-play"></i> <a href="/thi-thu/">Thi thử</a></li>
			<li><i class="glyphicon glyphicon-play"></i> <a href="/cauhoi-ontap/">Câu hỏi ôn tập</a></li>
		</ul>

		<div class="including" style="margin-bottom:20px">
			<a href="/dang-nhap/" class="button venglish"><i class="glyphicon glyphicon-user"></i> Đăng nhập</a>
		</div>

		<div class="fb-like-box" data-href="https://www.facebook.com/vietnamstudyvn" width="270px" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
	</div>
	<script type="text/javascript" src="http://www.studyvn.com/assets/js/wow.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			wow = new WOW({
				animateClass: 'animated',
				offset: 100
			});
			wow.init();
			$(".a-chucnang").live('click', function () {
				scroll_to("#services");
			});
			$("#menu-right").menuslide({
				position: "right",
				element_action: "#menu"

			});
			$(".nav-right").sticky({
				topSpacing: 0

			});
			$(".scroll_top a").live('click', function () {
				scroll_to("header");
				return false;
			});
		});
	</script>
	<div id="fb-root"></div>
	<script language="javascript" type="text/javascript" src="http://www.studyvn.com/assets/js/skrollr/skrollr.min.js"></script>
	<script language="javascript" type="text/javascript" src="http://www.studyvn.com/assets/js/skrollr/skrollr.min.js"></script>
</body>
</html>


