html{height: 100%}
body{
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	color:#1d1d1d;
	height: 100%;
}
pre{font-weight: 16px;padding: 0px;}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	font-family: 'Open Sans';
}
a{color:#2980b9;}
a:hover,a:focus,a.active,.color-red{
	color: #e33a3a;text-decoration: none;
}
.text-sucess{color:#047806;}
label.error{color: #e33a3a !important;text-decoration: none;}
.full-width{width: 100% !important}
.navbar-default .navbar-toggle .icon-bar{background-color: #fff}
.including:before, .including:after {content: " ";display: table;}
.including:after {clear: both;}
.including:before, .including:after {content: " ";display: table;}
.including:after {clear: both;}
input.form-control,.btn{height: 30px;}
.form-control{width: inherit;box-shadow: none}
.form-control.no-border{border: 0px}
.form-control:hover{}
.color-red{color:#eb5545;}
.color-blue{color:#2980b9;}
.table-no-border td,.table-no-border th{border: 0px !important}
span.description{color:#757575;}
.tooltip{position: fixed !important;}
.btn{font-size: 16px;padding: 3px 14px;border:0px;border-radius: 2px;text-shadow:none;}
.btn-default{background: #3498db;color: #fff;}
.btn-danger{background: #e33a3a;color: #fff}
.btn-default:hover,.btn-default:focus,.btn-default.disabled{background: #2980b9;color: #fff;}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active{
    background: #2980b9;color: #fff
}
.btn:focus{color: #fff}

.heading{position: relative;text-align: center;}
.heading hr{
	height: 1px;background-color: #2980b9;width: 100%;position: absolute;margin: auto;top:50%;
	border: 0px
}

.heading h1{
	background: #f1f1f1;font-size: 16px;font-weight: inherit;text-transform: uppercase;text-align: center;
	display: inline-block;position: relative;z-index: 1;padding: 0 15px;top:-5px;
}
.heading-white h1{background:#fff !important;font-size: 16px;text-transform: uppercase;color: #2980b9}
.iconsprite-logo{background: url('../../img/icon-logos.png') no-repeat;height: 30px;display: inline-block;position: relative;}
.iconlogo-chemistry{width: 23px}
.iconlogo-formula{background-position: -23px;width: 19px;}
.iconlogo-quiz{background-position: -42px;width: 30px;}
.iconlogo-venglish{background-position: -72px;width: 27px;}
.iconlogo-home{background-position: -99px;width: 32px;}
.iconsprite-mini{top:2px;background: url('../../img/icon-mini.png') no-repeat;height: 15px;display: inline-block;position: relative;}
.iconmini-upload{width: 23px}
.iconmini-document{width: 12px;background-position: -23px}
.iconmini-rocket{width: 12px;background-position: -35px}
.iconmini-search{width: 15px;background-position: -47px}
.iconmini-download{width: 15px;background-position: -62px}
.iconmini-rank{width: 11px;background-position: -77px}
.iconmini-like{width: 15px;background-position: -88px}
.iconmini-reply{width: 20px;background-position: -103px}

#menu-head{background: #059478 url('../../img/quiz2/bg-stars.png');color:#fff;box-shadow: none;border:0px;border-radius: 0px;height: 50px;margin-bottom: 0px}
#menu-head .navbar-toggle:hover,#menu-head .navbar-toggle:focus{background: transparent;}
#logo{margin-left:10px;background: url('../../img/quiz2/logo.png') no-repeat;width: 175px;height: 39px;text-indent: -99999px;margin-top:5px;}
#menu-head .nav a{color:#fff;text-transform: uppercase;}
#menu-head .nav a:hover,#menu-head .nav a.active,#menu-head .nav a:focus{cursor:pointer;background: rgba(0,0,0,.07) !important}
.dropdown-menu a{color: #1d1d1d !important}
.dropdown-menu a:hover{background: #eeeeee !important}
#a-dropdown-user{position: relative;text-transform: none !important;}
#a-dropdown-user .avatar{float:left;margin-top: -8px;margin-right: 10px}
.grid-menu,.grid-content{float:left;height: 100%}
.grid-menu{width: 5%;background: #363636;}
.grid-menu .menu{padding-left:0px;list-style: none}
.grid-menu .menu li{float:left;width: 100%;padding-left: 7px}
.grid-menu .menu .item{width: 45px;height: 45px;background:#3498db;padding-top: 7px;margin-bottom: 4px;margin-top:11px;border-radius: 6px}
.grid-menu .menu .item-chemistry{background: #e33a3a}
.grid-menu .menu .item-home{background: #1abc9c}
.grid-menu .menu .item-formula{background: #3498db}
.grid-menu .menu .item-quiz{background: #2c3e50}
.grid-menu .menu .item-venglish{background: #e7543d}
.grid-menu .menu .iconsprite-mini{top:0px;}

.grid-content{width: 95%;}
.col-1,.col-3{background: #f1f1f1;height: 100%}
.col-3{overflow: hidden;outline: none;width: 25% !important}
.col-3.col-3-right{width: 300px !important}
.col-3 .jspPane{padding-right: 16px !important;padding-left: 15px !important;}
.col-1{width: 22% !important;}
.col-1 .heading{margin-bottom: 15px}
.iconcolor{position: relative;display: inline-block;width: 15px;height: 15px;border-radius: 30px;top: 2px;right: 20px;}

.col-2{height:100%;width: 53% !important;outline: none}
.col-2 .jspPane{padding-left: 15px !important;padding-right: 20px !important}
.jspPane{width:100% !important}
.jspVerticalBar{width: 6px !important;}
.jspDrag{background: #c1bfbf !important}
.jspTrack{background: #e1e1e1 !important}
#div-category .jspPane{padding: 0 15px !important}
.list-category{list-style: none}
.list-category li{list-style: none;margin-bottom: 20px;}
.list-category li a:hover{text-decoration: none}
.list-category li.active{border-right:3px solid #2980b9;}
.avatar{width: 35px;height: 35px;border-radius: 30px}
.menu-button-slide{position: fixed;display: none;}
.menu-button-slide.left{left: 0px;bottom:0px;}
.menu-button-slide.right{right:0px;bottom:20px;z-index: 100;}
.menu-button-slide .btn{margin-top: 10px;display: block}

.form label{font-weight: 600;margin-bottom: 10px}
.form .form-control{margin-bottom: 10px}

#top-users .bold{text-transform: uppercase;}
#top-users .score{text-align: center;font-weight: 600;padding-top: 14px}
.user .avatar{margin-right: 10px}
.lists{padding-left: 0px;list-style: none}
.lists li{margin-bottom: 20px}
@media(max-width: 1090px){
	.grid-menu{width: 6%}
	.grid-content{width: 94%}
}
@media(max-width: 991px){
	.col-1{float:left;width: 30% !important;}
	.col-2{width: 70% !important;float: left}
	.col-3{width: 300px!important;z-index: 600;}
	.grid-menu{width: 7%}
    .grid-content{width: 93%}
}
@media(max-width: 799px){
	.grid-menu{z-index: 1000;width: 80px}
	.grid-content{width: 100%;height: auto;}
	.col-1-slide{width:230px !important;}
    .col-1{z-index: 1000 !important;}
    .col-2{width: 100% !important}
	.dropdown-menu a{color: #fff !important}
	.menu-button-slide{display: block;}
    #menu-head .navbar-collapse{color: #fff;position: relative;z-index: 100;border: 0px}
    #menu-head .navbar-collapse .navbar-right{margin-top: -5px}
}

@media(max-width: 739px){
	.grid-content{height: auto !important;}
}

.col-slide{overflow: scroll;position: fixed;height: 100%;top:0px;}
.col-slide-transition{-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.col-slide-left{left: -300px;}
.col-slide-left-show{left: 0px;}
.col-slide-right{right: -300px;}
.col-slide-right-show{right:0px;}
.fog-active {position:fixed;display:block;background:rgba(0,0,0,0.3);
		z-index:500;top:0;left:0;width:100%;height:100%;}

.loading{
position:relative;
width:100%;
height:20px;
overflow: hidden;
display: none;
margin: 10px auto;
}

.followingBallsG{
background-color:#1ABC9C;
position:absolute;
top:0;
left:0;
width:15px;
height:15px;
-moz-border-radius:10px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:1.9s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:10px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:1.9s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-o-border-radius:10px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:1.9s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-border-radius:10px;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:1.9s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
border-radius:10px;
animation-name:bounce_followingBallsG;
animation-duration:1.9s;
animation-iteration-count:infinite;
animation-direction:linear;
}

.followingBallsG_1{
-moz-animation-delay:0s;
}

.followingBallsG_1{
-webkit-animation-delay:0s;
}

.followingBallsG_1{
-o-animation-delay:0s;
}

.followingBallsG_1{
-ms-animation-delay:0s;
}

.followingBallsG_1{
animation-delay:0s;
}

.followingBallsG_2{
-moz-animation-delay:0.19s;
-webkit-animation-delay:0.19s;
-o-animation-delay:0.19s;
-ms-animation-delay:0.19s;
animation-delay:0.19s;
}

.followingBallsG_3{
-moz-animation-delay:0.38s;
-webkit-animation-delay:0.38s;
-o-animation-delay:0.38s;
-ms-animation-delay:0.38s;
animation-delay:0.38s;
}

.followingBallsG_4{
-moz-animation-delay:0.57s;
-webkit-animation-delay:0.57s;
-o-animation-delay:0.57s;
-ms-animation-delay:0.57s;
animation-delay:0.57s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#1ABC9C;
}

50%{
left:236px;
background-color:#1ABC9C;
}

100%{
left:0px;
background-color:#1ABC9C;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#1ABC9C;
}

50%{
left:236px;
background-color:#1ABC9C;
}

100%{
left:0px;
background-color:#1ABC9C;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#1ABC9C;
}

50%{
left:236px;
background-color:#1ABC9C;
}

100%{
left:0px;
background-color:#1ABC9C;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#1ABC9C;
}

50%{
left:236px;
background-color:#1ABC9C;
}

100%{
left:0px;
background-color:#1ABC9C;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#1ABC9C;
}

50%{
left:236px;
background-color:#1ABC9C;
}

100%{
left:0px;
background-color:#1ABC9C;
}

}
.ytLoad {
    position: fixed;display: none;
    z-index: 2147483647;
    top: 0;
    left: -6px;
    width: 0%;
    height: 8px;
    background: #1ABC9C;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-box-shadow: #1ABC9C 1px 0 6px 1px;
    -ms-box-shadow: #1ABC9C 1px 0 6px 1px;
    -webkit-box-shadow: #1ABC9C 1px 0 6px 1px;
    box-shadow:#1ABC9C 1px 0 6px 1px;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    -ms-transition: width 1s ease;
    transition: width 1s ease;
}
.ytLoad.error {
    background: #C20A47;
}

.ytLoad dd, .ytLoad dt {
    position: absolute;
    top: 0;
    height: 8px;
    -moz-box-shadow: #C9312C 1px 0 6px 1px;
    -ms-box-shadow: #C9312C 1px 0 6px 1px;
    -webkit-box-shadow: #C9312C 1px 0 6px 1px;
    box-shadow: #C9312C 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.ytLoad.error dd, .ytLoad.error dt {
    -moz-box-shadow: #C20A47 1px 0 6px 1px;
    -ms-box-shadow: #C20A47 1px 0 6px 1px;
    -webkit-box-shadow: #C20A47 1px 0 6px 1px;
    box-shadow: #C20A47 1px 0 6px 1px;
}

.ytLoad dt {
    opacity: .6;
    width: 180px;
    right: -80px;
    clip: rect(-6px,90px,14px,-6px);
}

.ytLoad dd {
    opacity: .6;
    width: 20px;
    right: 0;
    clip: rect(-6px,22px,14px,10px);
}
